@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 30, 91, 168;
  --primary-text-color: 255,255,255;
  --primary-border-color: 217,217,217;
  --primary-rounded:.25rem;
}